In [86]:
# Machine Learning ML
# sklearn library will be needed for ml 
# Linear Regression

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [88]:
# duplicates record
print("Number of Duplicated Record : ",df.duplicated().sum())

Number of Duplicated Record :  25324

In [89]:
df.drop_duplicates(inplace=True)
print("Duplicates Removed!")

Duplicates Removed!

In [90]:
print("Number of Duplicated Record : ",df.duplicated().sum())

Number of Duplicated Record :  0

In [91]:
print("Total number of bike Record : ",df.shape[0])

Total number of bike Record :  7324

In [92]:
# missing value check in data
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [93]:
# ML only deals with numerical value
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [94]:
cat_col = df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [95]:
num_col = df.select_dtypes(exclude='O')
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [96]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [97]:
# Data Transformation
dt = {'First Owner':1,'Second Owner':2,'Third Owner':3,
      'Fourth Owner Or More':4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [98]:
df['owner'] = df['owner'].map(dt) # single time execute

In [99]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [100]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [101]:
# Get the brands that appear at least 10 times
bike_brand = list(df['brand'].value_counts().head(16).index)
bike_brand

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [102]:
df2 = df[df['brand'].isin(bike_brand)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [103]:
br = {'Bajaj':1,
 'Royal Enfield':2,
 'Hero':3,
 'Honda':4,
 'Yamaha':5,
 'TVS':6,
 'KTM':7,
 'Suzuki':8,
 'Harley-Davidson':9,
 'Kawasaki':10,
 'Hyosung':11,
 'Mahindra':12,
 'Benelli':13,
 'Triumph':14,
 'Ducati':15,
 'BMW':16}

df2['brand'] = df2['brand'].map(br) # label encoding
df2.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_3816\936175165.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['brand'] = df2['brand'].map(br) # label encoding

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5

In [104]:
df2.drop(['bike_name','city'],axis=1,inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_3816\1642961446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['bike_name','city'],axis=1,inplace=True)

In [105]:
df2.head()

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2
2  600000.0       110.0      1  8.0  675.0     14
3   65000.0     16329.0      1  4.0  180.0      6
4   80000.0     10000.0      1  3.0  150.0      5

In [106]:
# Supervised learning   y--> price remaining x
x = df2.drop('price',axis=1) # independent variable
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      6
1        11000.0      1  4.0  350.0      2
2          110.0      1  8.0  675.0     14
3        16329.0      1  4.0  180.0      6
4        10000.0      1  3.0  150.0      5
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      3
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      9
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7307 rows x 5 columns]

In [107]:
y = df2[['price']] # dependent variable
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7307 rows x 1 columns]

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [110]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [111]:
lnr = LinearRegression()
rfr = RandomForestRegressor()
dtr = DecisionTreeRegressor()

In [112]:
lnr.fit(x_train,y_train)
rfr.fit(x_train,y_train)
dtr.fit(x_train,y_train)

c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

DecisionTreeRegressor()

In [113]:
# Model Evaluation
print("Training Score : ",lnr.score(x_train,y_train)*100)

Training Score :  74.29171766367784

In [114]:
print("Testing Score : ",lnr.score(x_test,y_test)*100)

Testing Score :  72.82897209046835

In [115]:
print("Training Score : ",rfr.score(x_train,y_train)*100)
print("Testing Score : ",rfr.score(x_test,y_test)*100)

Training Score :  98.74917562997307
Testing Score :  82.38629452198126

In [116]:
print("Training Score : ",dtr.score(x_train,y_train)*100)
print("Testing Score : ",dtr.score(x_test,y_test)*100)

Training Score :  99.88389186021523
Testing Score :  76.81762014298859

In [117]:
x_test.shape

(1462, 5)

In [118]:
prediction = lnr.predict(x_test)

In [119]:
prediction.shape

(1462, 1)

In [120]:
comparedf = pd.concat([x_test,y_test],axis=1)

In [121]:
comparedf['prediction'] = prediction

In [122]:
comparedf.head(40)

      kms_driven  owner   age  power  brand     price     prediction
7795     90000.0      1  10.0  150.0      1   21500.0   -1946.268912
1397     17768.0      1   6.0  100.0      3   24500.0   12877.375206
5566      5130.0      1   5.0  500.0      2  110000.0  219593.456640
52       30000.0      1   5.0  160.0      6   60000.0   83371.228651
7611     49730.0      2  11.0  100.0      6    8000.0   24948.312035
3141     11226.0      1   5.0  220.0      1   52000.0   56314.210922
1037     27000.0      1   5.0  300.0     13  245500.0  244278.478768
4231     23873.0      1   7.0  100.0      3   33000.0    9606.706902
7960      6859.0      1   3.0  200.0      7  110000.0  124582.161792
255       4000.0      1   3.0  150.0      8   80999.0  110148.077261
1675      5300.0      1   2.0  150.0      8   95000.0  112763.231478
8213      8855.0      1   3.0  350.0      2  110000.0  144075.639804
5226     12000.0      1   6.0  350.0      2  115000.0  135606.531408
421      32542.0      1   6.0  150.0      5   72000.0   62843.726007
7058      1500.0      1   5.0  410.0      2  153300.0  171525.673733
1121     22840.0      1  11.0  350.0      2   65000.0  120995.768525
8274      5377.0      1   3.0  500.0      2  150000.0  225032.060097
386       8600.0      1   5.0  350.0      2  109900.0  138637.744533
5234      3000.0      1   9.0  500.0      2  110439.0  208861.073636
4248     13829.0      1   5.0  200.0      1  100000.0   45330.646879
6667     70000.0      1   8.0  125.0      4   16000.0   28430.260285
1734      4000.0      1   4.0  200.0      7  127800.0  122105.015201
1619      6000.0      1   5.0  750.0      9  450000.0  439300.382329
4714     20084.0      2   4.0  160.0      4   50000.0   54552.378473
4850      9465.0      1   4.0  250.0      7  140000.0  148504.081634
8266      7420.0      1   6.0  150.0      8   65000.0  101654.624994
2678     75956.0      1   7.0  500.0      2  110000.0  207863.245790
6005     30000.0      1   4.0  200.0      6   55000.0  107607.739445
4606     14319.0      1   4.0  100.0      1   25000.0   -5748.186270
3694     26076.0      1   6.0  125.0      5   29000.0   49974.694053
1603     46000.0      1   6.0  110.0      4   32600.0   27950.431419
9339     20000.0      2  17.0  100.0      3   11400.0  -25388.319969
2549     60000.0      1   7.0  220.0      1   35000.0   46536.113058
61        2500.0      1   2.0  900.0     10  935000.0  540645.126439
5479     33000.0      1  10.0  110.0      4   27400.0   18180.295293
4834      1178.0      1   2.0  390.0      7  263000.0  229970.109426
6513     10975.0      1   6.0  125.0      4   35000.0   39115.809184
5439     64800.0      1  13.0  150.0      4   30000.0   28680.831862
7544     19400.0      1   5.0  160.0      6   55000.0   84309.574273
7365     28870.0      1   9.0  100.0      3   23000.0    3703.887932

In [123]:
comparedf['residual'] = comparedf['price'] - comparedf['prediction']

In [124]:
comparedf.head(10)

,kms_driven,owner,age,power,brand,price,prediction,residual
7795,90000.0,1,10.0,150.0,1,21500.0,-1946.268912,23446.268912
1397,17768.0,1,6.0,100.0,3,24500.0,12877.375206,11622.624794
5566,5130.0,1,5.0,500.0,2,110000.0,219593.456640,-109593.456640
52,30000.0,1,5.0,160.0,6,60000.0,83371.228651,-23371.228651
7611,49730.0,2,11.0,100.0,6,8000.0,24948.312035,-16948.312035
3141,11226.0,1,5.0,220.0,1,52000.0,56314.210922,-4314.210922
1037,27000.0,1,5.0,300.0,13,245500.0,244278.478768,1221.521232
4231,23873.0,1,7.0,100.0,3,33000.0,9606.706902,23393.293098
7960,6859.0,1,3.0,200.0,7,110000.0,124582.161792,-14582.161792
255,4000.0,1,3.0,150.0,8,80999.0,110148.077261,-29149.077261

In [125]:
# prediction
unseen_bike = [[3500,2,2,220,3]]
price_of_unseen_bike = lnr.predict(unseen_bike)
price_of_unseen_bike

c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[81544.656828]])

In [126]:
# Saving models
import os,joblib

In [127]:
os.makedirs('models',exist_ok=True)

In [128]:
lnr

LinearRegression()

In [130]:
joblib.dump(lnr,'./models/lineraRegression.lb')
joblib.dump(rfr,'./models/RFRegression.lb')

['./models/RFRegression.lb']