In [184]:
import pandas as pd
import numbers as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import pickle

In [132]:
df = pd.read_csv('Mobile phone price.csv')
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [134]:
df.Brand.value_counts()

Brand
Samsung       79
Xiaomi        67
Oppo          56
Realme        43
Vivo          35
Apple         30
Nokia         28
Motorola      23
OnePlus       15
Huawei        12
Google         7
Asus           4
LG             3
Blackberry     3
Sony           1
CAT            1
Name: count, dtype: int64

In [135]:
df['Screen Size (inches)'].value_counts()

Screen Size (inches)
6.5               108
6.67               30
6.4                26
6.7                25
6.55               21
6.43               21
6.51               19
6.1                16
6.53               16
6.58               14
6.6                14
6.52               14
6.8                 9
6.44                8
6.39                7
4.7                 5
6.81                5
6                   4
6.3                 4
6.82                4
6.2                 4
6.78                4
5.4                 3
6.62                3
6.9                 3
4.5                 2
5.5                 2
6.49                2
6.72                2
7.6 (unfolded)      1
6.15                1
6.47                1
5.7                 1
6.8 + 3.9           1
6.76                1
6.35                1
6.22                1
5.99                1
5.9                 1
6.56                1
6.57                1
Name: count, dtype: int64

In [136]:
df['Battery Capacity (mAh)'].value_counts()

Battery Capacity (mAh)
5000    159
4500     46
6000     40
4000     34
5020     14
4310     10
4200      8
4300      7
5160      7
4230      6
4250      6
1821      5
2942      5
2815      5
3110      4
3500      4
4950      3
3969      3
4080      3
2227      3
5050      3
7000      2
4820      2
3300      2
4600      2
4630      2
2691      1
4510      1
3174      1
4800      1
3095      1
3340      1
4115      1
4850      1
4160      1
3687      1
2800      1
3000      1
3885      1
4350      1
4400      1
4100      1
4470      1
4450      1
4352      1
4520      1
4614      1
4025      1
Name: count, dtype: int64

In [137]:
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [138]:
df['RAM'] = df['RAM '].str.replace('GB','').astype('int32')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
 8   RAM                     407 non-null    int32
dtypes: int32(1), int64(1), object(7)
memory usage: 27.2+ KB

In [140]:
df.drop('RAM ',inplace=True,axis=1)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   Screen Size (inches)    407 non-null    object
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int64
 6   Price ($)               407 non-null    object
 7   RAM                     407 non-null    int32
dtypes: int32(1), int64(1), object(6)
memory usage: 24.0+ KB

In [142]:
df['Price'] = df['Price ($)'].str.replace('$','').str.replace(',','').astype('int32')

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   Screen Size (inches)    407 non-null    object
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int64
 6   Price ($)               407 non-null    object
 7   RAM                     407 non-null    int32
 8   Price                   407 non-null    int32
dtypes: int32(2), int64(1), object(6)
memory usage: 25.6+ KB

In [144]:
df.drop('Price ($)',inplace=True,axis=1)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   Screen Size (inches)    407 non-null    object
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int64
 6   RAM                     407 non-null    int32
 7   Price                   407 non-null    int32
dtypes: int32(2), int64(1), object(5)
memory usage: 22.4+ KB

In [146]:
df['Screen'] = df['Screen Size (inches)'].str.replace(' + ','').str.replace('3.9','').str.replace(' (unfolded)','').astype('float32')

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   Screen Size (inches)    407 non-null    object
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int64
 6   RAM                     407 non-null    int32
 7   Price                   407 non-null    int32
 8   Screen                  407 non-null    float32
dtypes: float32(1), int32(2), int64(1), object(5)
memory usage: 24.0+ KB

In [148]:
df.drop('Screen Size (inches)',axis=1,inplace=True)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   Camera (MP)             407 non-null    object
 4   Battery Capacity (mAh)  407 non-null    int64
 5   RAM                     407 non-null    int32
 6   Price                   407 non-null    int32
 7   Screen                  407 non-null    float32
dtypes: float32(1), int32(2), int64(1), object(4)
memory usage: 20.8+ KB

In [150]:
df

,Brand,Model,Storage,Camera (MP),Battery Capacity (mAh),RAM,Price,Screen
0,Apple,iPhone 13 Pro,128 GB,12 + 12 + 12,3095,6,999,6.10
1,Samsung,Galaxy S21 Ultra,256 GB,108 + 10 + 10 + 12,5000,12,1199,6.80
2,OnePlus,9 Pro,128 GB,48 + 50 + 8 + 2,4500,8,899,6.70
3,Xiaomi,Redmi Note 10 Pro,128 GB,64 + 8 + 5 + 2,5020,6,279,6.67
4,Google,Pixel 6,128 GB,50 + 12.2,4614,8,799,6.40
...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,12+64+12,4300,8,1049,6.70
403,Xiaomi,Mi 10 Lite 5G,128,48+8+2+2,4160,6,349,6.57
404,Apple,iPhone 12 Pro Max,128,12+12+12,3687,6,1099,6.70
405,Oppo,Reno3,128,48+13+8+2,4025,8,429,6.40
406,Samsung,Galaxy S10 Lite,128,48+12+5,4500,6,649,6.70

In [151]:
df.drop('Model',axis=1,inplace=True)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Storage                 407 non-null    object
 2   Camera (MP)             407 non-null    object
 3   Battery Capacity (mAh)  407 non-null    int64
 4   RAM                     407 non-null    int32
 5   Price                   407 non-null    int32
 6   Screen                  407 non-null    float32
dtypes: float32(1), int32(2), int64(1), object(3)
memory usage: 17.6+ KB

In [153]:
df['Storage'] = df['Storage '].str.replace('GB','').astype('int32')

In [154]:
df.Storage.value_counts()

Storage
128    250
64      83
256     40
32      31
512      3
Name: count, dtype: int64

In [155]:
df.drop('Storage ',axis=1,inplace=True)

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Camera (MP)             407 non-null    object
 2   Battery Capacity (mAh)  407 non-null    int64
 3   RAM                     407 non-null    int32
 4   Price                   407 non-null    int32
 5   Screen                  407 non-null    float32
 6   Storage                 407 non-null    int32
dtypes: float32(1), int32(3), int64(1), object(2)
memory usage: 16.0+ KB

In [157]:
df.head(1)

   Brand   Camera (MP)  Battery Capacity (mAh)  RAM  Price  Screen  Storage
0  Apple  12 + 12 + 12                    3095    6    999     6.1      128

In [158]:
df['Camera'] = df['Camera (MP)'].str.replace('MP','').str.replace('.2','').apply(lambda x: int(x.split('+', 1)[0].strip())).astype('int32')

In [159]:
df.Camera.value_counts()

Camera
48     123
64      85
13      67
12      49
50      49
108     20
8        8
16       3
40       2
25       1
Name: count, dtype: int64

In [160]:
df.drop('Camera (MP)',inplace=True,axis=1)

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Battery Capacity (mAh)  407 non-null    int64
 2   RAM                     407 non-null    int32
 3   Price                   407 non-null    int32
 4   Screen                  407 non-null    float32
 5   Storage                 407 non-null    int32
 6   Camera                  407 non-null    int32
dtypes: float32(1), int32(4), int64(1), object(1)
memory usage: 14.4+ KB

In [162]:
label_encoder = LabelEncoder()

In [163]:
df['Brand_Label'] = label_encoder.fit_transform(df['Brand'])

In [164]:
df

,Brand,Battery Capacity (mAh),RAM,Price,Screen,Storage,Camera,Brand_Label
0,Apple,3095,6,999,6.10,128,12,0
1,Samsung,5000,12,1199,6.80,256,108,12
2,OnePlus,4500,8,899,6.70,128,48,9
3,Xiaomi,5020,6,279,6.67,128,64,15
4,Google,4614,8,799,6.40,128,50,4
...,...,...,...,...,...,...,...,...
402,Samsung,4300,8,1049,6.70,128,12,12
403,Xiaomi,4160,6,349,6.57,128,48,15
404,Apple,3687,6,1099,6.70,128,12,0
405,Oppo,4025,8,429,6.40,128,48,10
406,Samsung,4500,6,649,6.70,128,48,12

In [165]:
print(dict(enumerate(label_encoder.classes_)))

{0: 'Apple', 1: 'Asus', 2: 'Blackberry', 3: 'CAT', 4: 'Google', 5: 'Huawei', 6: 'LG', 7: 'Motorola', 8: 'Nokia', 9: 'OnePlus', 10: 'Oppo', 11: 'Realme', 12: 'Samsung', 13: 'Sony', 14: 'Vivo', 15: 'Xiaomi'}

In [166]:
label_to_category = {label: category for category, label in enumerate(label_encoder.classes_)}
print(label_to_category)

{'Apple': 0, 'Asus': 1, 'Blackberry': 2, 'CAT': 3, 'Google': 4, 'Huawei': 5, 'LG': 6, 'Motorola': 7, 'Nokia': 8, 'OnePlus': 9, 'Oppo': 10, 'Realme': 11, 'Samsung': 12, 'Sony': 13, 'Vivo': 14, 'Xiaomi': 15}

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Battery Capacity (mAh)  407 non-null    int64
 2   RAM                     407 non-null    int32
 3   Price                   407 non-null    int32
 4   Screen                  407 non-null    float32
 5   Storage                 407 non-null    int32
 6   Camera                  407 non-null    int32
 7   Brand_Label             407 non-null    int32
dtypes: float32(1), int32(5), int64(1), object(1)
memory usage: 16.0+ KB

In [168]:
df.drop('Brand',inplace=True,axis=1)

In [169]:
x = df.drop('Price',axis=1)
y = df.Price

In [173]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Battery Capacity (mAh)  407 non-null    int64
 1   RAM                     407 non-null    int32
 2   Screen                  407 non-null    float32
 3   Storage                 407 non-null    int32
 4   Camera                  407 non-null    int32
 5   Brand_Label             407 non-null    int32
dtypes: float32(1), int32(4), int64(1)
memory usage: 11.3 KB

In [170]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [171]:
def model_acc(model):
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [172]:
rf = RandomForestRegressor()
model_acc(rf)

RandomForestRegressor() --> 0.9179357556392272

In [183]:
value = rf.predict(([[5000,8,6.2,128,64,0]]))[0]
print("Price : ",value*83)

Price :  65600.43333333333

c:\Users\hp\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [185]:
with open('./Model/model.pkl', 'wb') as model_file:
    pickle.dump(rf, model_file)