In [12]:
# Importing the required libraries 
import pandas as pd # for the functions used for the series and dataframe
import numpy as np # for the array function
from sklearn.preprocessing import LabelEncoder # for the conversion of the catgorical values in the numerical values
from sklearn.model_selection import train_test_split # for the splitting of the dataset in the training and testing data

In [14]:
# importing the models to train on our dataset and take scores and use the best model
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
# importing the dataset with the help of the read_csv() function in tha pandas library
df = pd.read_csv("insurance.csv")

In [3]:
# Viewing the top 5 rows of the dataset with the help of the head() function
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# Checking the null values in the dataset with the help of the isna() function
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
# checking the information of the dataset with the help of the info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
# making the object of the labelencoder to use it for the conversion of the catgorical values to numerical
lb = LabelEncoder()

In [9]:
# converting the object datatype into the numerical datatype with the help of the Label Encoder()
# But LabelEncoder() only changes one column at a time.
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [10]:
# now checking that all the columns are in the numerical values or not
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int32
 5   region    1338 non-null   int32
 6   charges   1338 non-null   float64
dtypes: float64(2), int32(2), int64(3)
memory usage: 62.8 KB

In [11]:
# x --> on which our target value depends and y --> the target value
x = df.drop(columns=['charges'])
y = df['charges']

In [13]:
# Splitting the data in training and testing data with the help of the train_test_split in 80% and 20% ratio
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42) # random state is used for the seed function

In [16]:
# Linear REGRESSION

lr = LinearRegression() # Initializing the model

lr.fit(x_train,y_train) # Training the model based on the input data and target data

lr.score(x_test, y_test) # score of Linear Regression  model

0.7833463107364539

In [17]:
# DECISION TREE REGRESSOR

dt = DecisionTreeRegressor() # Initializing the model

dt.fit(x_train,y_train) # Training the model based on the input data and target data

dt.score(x_test, y_test) # # score of Decision Tree  model

0.7257231847382819

In [18]:
# RANDOM FOREST REGRESSOR

rf = RandomForestRegressor() # Initializing the model

rf.fit(x_train,y_train) # Training the model based on the input data and target data

rf.score(x_test, y_test) # score of the Random Forest Model

0.8595739230716459

In [19]:
# Printing the accuracy od the all models
print("LinearRegression Score :-",lr.score(x_test,y_test)*100)
print("DecisionTreeRegressor Score :-",dt.score(x_test,y_test)*100)
print("RandomForestRegressor Score :-",rf.score(x_test,y_test)*100)

LinearRegression Score :- 78.33463107364538
DecisionTreeRegressor Score :- 72.57231847382819
RandomForestRegressor Score :- 85.9573923071646